.introText{
    grid-column: 1/-1;
    
    &__title{
        margin-bottom:0px;
        word-wrap: break-word;

        &:after {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-left:8px;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
            background-color: $main-color;
        }
    }
}


.row{
    display: flex;
    flex-direction: column;

    &__left-section{
        display: flex;
        align-items: center;

        h3{
            margin-left:8px;
        }
    }
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button--toggle{
        box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
        0 2px 4px rgba(0,0,0,0.07), 
        0 4px 8px rgba(0,0,0,0.07), 
        0 8px 16px rgba(0,0,0,0.07),
        0 16px 32px rgba(0,0,0,0.07), 
        0 32px 64px rgba(0,0,0,0.07);
        border-radius: 100px;
    }

    &__text{
        @media all and (min-width: $breakpoint-xs)
        {
            margin-top:-16px;  
        }
    }
}

.images-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap:6px;
    grid-row-gap:6px;
    height:200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    &__item{
        background-position: center;
        background-repeat: no-repeat;
        border-radius:10px;
    }

    &__item:nth-child(1){
        grid-column: 1;
        grid-row: 1;
       background-image: url("../img/Image-grid_background-1.jpg");
       filter: blur(0.03rem);
    }

    &__item:nth-child(2){
        grid-column: 2;
        grid-row: 1;
        background-image: url("../img/Image-grid_background-2.jpg");
        filter: blur(0.03rem);
    }

    &__item:nth-child(3){
        grid-column: 1 / span 2;
        grid-row: 2;
        background-image: url("../img/Image-grid_background-3.jpg");
    }

    &__item:nth-child(4){
        grid-column: 3;
        grid-row:1 / span 2;
        background-image:url("../img/Image-grid_background-4.jpg");
        filter: blur(0.03rem);
    }
}

.images-row{
    display: flex;
    justify-content: space-between;

    &__left-side{
        display: flex;
        justify-content: space-evenly;
        width:60%;
    }

    &__item{
        margin: 0% 2%;
    }

    &__button{

        &__text{
            clear: both;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            margin: 0px 0px 0px 8px;
        }
    }
}

.card{
    position: relative;
    padding-bottom:12px;
    margin-bottom:64px;
    background:$bg-color;
    border-radius:15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);

    &__header{
        height:86px;
        width:100%;
        background-image: url("../img/header_business.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
    }

    &__text{
        padding:12px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;

        h4, p{
            padding:0;
            margin:0;
        }
    }

    &__button{
        display: flex;
        align-items: center;
        position: absolute;
        height:32px;
        padding:8px 12px;
        bottom: -16px;
        left: 12px;
        text-align: center;
        background: $highlight-color;
        border-radius: 15px;

        p{
            margin:0px 0px 0px 4px;
            padding: 0;
        }
    }
}

form{
    input, textarea{
        width: 100%;
        border: 1px solid $main-color;
        border-radius: 8px;
        padding: 4px 8px;
        font-family: $font-tertiairy;
        font-size:$font-size--2;
    }
}

