body, html{
    display: flex;
    justify-content: center;
    background: #fff;
}

#app{
    max-width:$breakpoint-xxs;
    height:100%;
    background-color: $bg-color;
    box-shadow: 0 1px 2px rgba(51,51,51,0.1), 
    0 2px 4px rgba(51,51,51,0.1), 
    0 4px 8px rgba(51,51,51,0.1), 
    0 8px 16px rgba(51,51,51,0.1),
    0 16px 32px rgba(51,51,51,0.1), 
    0 32px 64px rgba(51,51,51,0.1);
}

li a {
    text-decoration: none!important;

    p{
        text-decoration: none!important;
    }
}

section{
    margin:24px 0%;
}

.last{
    margin-bottom:64px;
}

#nav{
    display: flex;
    justify-content: center;
    position:fixed;
    width:$breakpoint-xxs;
    bottom:-12px;
    padding:16px 24px;
    list-style: none;
    background: $bg-color;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    li{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin:0px 8px;

        p{
            color: $font-color-secondary;
        }

        a{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-content: center;
            align-items: center;
            margin:0px 8px;

            p{
                color:#6E8CF5;
            }
        }
    }

    p{
       margin:0px;
    }
}

.button{
    &__create-group{
        display: flex;
        align-items: center;
        position: fixed;
        height:32px;
        padding:8px 12px;
        bottom: 72px;
        left: 50%;
        margin-left:-65px;
        text-align: center;
        background: $main-color;
        border-radius: 15px;

        p{
            margin:0px 0px 0px 8px;
            color: $bg-color;
        }
    }

    &--back{
        display: flex;
        align-items: center;
        position: fixed;
        height:32px;
        padding:8px;
        top: 32px;
        right: 32px;
        text-align: center;
        background: $bg-color;
        border-radius: 15px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.04), 
        0 2px 4px rgba(0,0,0,0.04), 
        0 4px 8px rgba(0,0,0,0.04), 
        0 8px 16px rgba(0,0,0,0.04),
        0 16px 32px rgba(0,0,0,0.04), 
        0 32px 64px rgba(0,0,0,0.04);

        @media all and (min-width: $breakpoint-xs)
        {
            left:58%;
            right:0;      
        }
    
        p{
            margin:0px 0px 0px 4px;
            font-size: $font-size--2;
            font-family: $font-secondary;
            color: $main-color;
        }
    }

    &--submit{
        display: flex;
        align-items: center;
        height:32px;
        padding:8px 12px;
        margin-top:12px;
        text-align: center;
        background: $highlight-color;
        border-radius: 15px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.04), 
        0 2px 4px rgba(0,0,0,0.04), 
        0 4px 8px rgba(0,0,0,0.04), 
        0 8px 16px rgba(0,0,0,0.04),
        0 16px 32px rgba(0,0,0,0.04), 
        0 32px 64px rgba(0,0,0,0.04);
    }

    &--view{
        display: flex;
        align-items: center;
        height:32px;
        padding:8px 8px;
        text-align: center;
        background: $highlight-color;
        border-radius: 15px;

        &__text{
            font-size: $font-size--3;
            margin:0px 0px 0px 2px;
        }
    }

    &__pick-image{
        display: flex;
        align-items: center;
        height:32px;
        padding:8px 12px;
        margin-top:12px;
        text-align: center;
        background: $highlight-color;
        border-radius: 15px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.04), 
        0 2px 4px rgba(0,0,0,0.04), 
        0 4px 8px rgba(0,0,0,0.04), 
        0 8px 16px rgba(0,0,0,0.04),
        0 16px 32px rgba(0,0,0,0.04), 
        0 32px 64px rgba(0,0,0,0.04);
    }
}

.form{
    &__row{
        &__text{
            margin:0px 0px 0px 8px;
        }
    }

    &__image-preview{
        height:10vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius:15px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
        0 2px 4px rgba(0,0,0,0.02), 
        0 4px 8px rgba(0,0,0,0.02), 
        0 8px 16px rgba(0,0,0,0.02),
        0 16px 32px rgba(0,0,0,0.02), 
        0 32px 64px rgba(0,0,0,0.02);
    }
}