// Container
.container {
    position: relative;
    margin: auto;
    overflow: hidden;
    // padding: ($gutter) ($gutter*2);
    padding: ($gutter);
    
    // @media all and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    //     padding: ($gutter*1) ($gutter*3);
    // }

    // @media all and (min-width: $breakpoint-lg) and (max-width: $breakpoint-xxl) {
    //     padding: ($gutter*1.5) ($gutter*4);
    // }

    // @media all and (min-width: $breakpoint-xxl){
    //     padding: ($gutter*2) ($gutter*6);
    // }

}

// Css grid
// .grid {

//     @media all and (min-width: $breakpoint-xs)
//     {      
//         display: grid;
//         grid-template-columns: repeat(12, 1fr);  
//         // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
//         grid-auto-rows: minmax(min-content, max-content);
//         //grid-row-gap: ($gutter*2);
//         grid-column-gap:calc($gutter / 2);
//     }
   

//     // @include breakpoint(md) {
//     //     grid-template-rows: repeat(3, 1fr);
//     //     grid-column-gap: ($gutter*4);
//     //     grid-row-gap: ($gutter*4);
//     // }

//     @media all and (min-width: $breakpoint-xs) and (max-width: $breakpoint-lg) {      
//         grid-template-columns: repeat(6, 1fr);
//     }
//     // @media all and (max-width: $breakpoint-xs) {      
//     //     grid-template-columns: 1fr;
//     //     grid-auto-rows: minmax(min-content, max-content);
//     //     grid-column-gap: 0;
//     // }
// }




