$font-line-height-small:        12px;
$font-line-height-medium:       36px;
$font-line-height-body:         1.5;
$font-heading-line-height:      1.20;
$font-lineheight:                   1.56rem;
$font-lineheight-small:         1;

$font-size--3:                   calc(#{$font-size} / 1.6); //12
$font-size--2:                   calc(#{$font-size} / 1.33333333333); //12
$font-size--1:                   calc(#{$font-size} / 1.14285714286); //14
$font-size-1:                    $font-size;                          //16
$font-size-2:                    calc(#{$font-size} * 1.125);         //18
$font-size-3:                    calc(#{$font-size} * 1.5);         //24
$font-size-4:                    calc(#{$font-size} * 2.25);          //36


@font-face{
    font-family:'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face{
    font-family:'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face{
    font-family:'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}




@mixin p {
    font-family: $font-tertiairy;
    font-size: $font-size--2;
    font-weight: $font-weight-normal;
    line-height: $font-line-height-body;
    color: $font-color-primary;
}

body,
p {
    @include p;
}

@mixin h1 {
    font-family: $font-primary;
    line-height: $font-line-height-medium;
    font-size: $font-size-4;   
    font-weight:$font-weight-normal;
}

h1,
.h1 {
    @include h1;
}

@mixin h2 {
    font-family: $font-tertiairy;
    line-height: $font-line-height-body;
    font-size: $font-size-2;
    font-weight: $font-weight-normal;
    color: $font-color-secondary;
}

h2,
.h2 {
    @include h2;
}

@mixin h3 {
    font-family: $font-tertiairy;
    // line-height: $font-heading-line-height;
    font-size: $font-size--1;
    font-weight:$font-weight-normal;
    color:$font-color-primary;
    font-display: swap;
}

h3,
.h3 {
    @include h3;
}

@mixin h4 {
    font-family: $font-primary;
    font-size: $font-size--1;
    font-weight: $font-weight-normal;
    color:$font-color-primary;
}

h4,
.h4 {
    @include h4;
}


